#clockContainer{
    position: relative;
    margin: auto;
    width: 40vw;
    height: 40vw;
    background: url(clock.jpg) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: rgb(63, 50, 43);
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    height: 18%;
    width: 1.6%;
    top: 32.4%;
    left: 49.25%;
    opacity: 0.8;
}
#minute{
    height: 24%;
    width: 1.4%;
    top: 26.4%;
    left: 49.35%;
    opacity: 0.9;
}
#second{
    height: 30%;
    width: 1%;
    top: 20.3%;
    left: 49.54%;
}